<html>
  <head>
    <title>My first three.js app</title>
    <style>
    </style>
  </head>
  <body>

    <script src="/javascripts/three.js"></script>
    <script src="javascripts/playing-around.js"></script>
  </body>
</html>
